$mainColor: #18121E;
$whiteColor:#fff;
$yellowColor:#F2BE22;
$greenColor:#1A3E3E;

@font-face {
      font-family: "NEXT ART_Bold";
      src: url("../assets/fonts/NEXT ART_Bold.otf");
    }

@font-face {
      font-family: "Nunito Sans Regular";
      src: url("../assets/fonts//NunitoSans_7pt_Condensed-Regular.ttf");
    }

@font-face {
      font-family: "Nunito Sans	ExtraBold";
      src: url("../assets/fonts/NunitoSans_7pt_Condensed-ExtraBold.ttf");
    }

@font-face {
      font-family: "Nunito Sans Semibold";
      src: url("../assets/fonts/NunitoSans_7pt_Condensed-SemiBold.ttf");
    }

@font-face {
      font-family: "Nunito Sans	Bold";
      src: url("../assets/fonts/NunitoSans_7pt_Condensed-Bold.ttf");
    }

@font-face {
      font-family: "Nunito Sans	Light";
      src: url("../assets/fonts/NunitoSans_7pt_Condensed-Light.ttf");
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito Sans Regular";
    color: $mainColor;
}

nav{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .nav_logo{
        margin-right: 212px;
    }
    .nav_info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .nav_list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style-type: none;
            margin-right: 50px;
            li{
                padding-right: 24px;
            }
            .list_item{
                text-decoration: none;
                font-size: 18px;
                color: $whiteColor;
            }
        }
        .nav_button{
            font-family: "Nunito Sans Semibold";
            width: 157px;
            height: 44px;
            font-size: 16px;
            color: $whiteColor;
            background-color: $greenColor;
        }
    }
    
}

.wrapper{
    margin: 0 auto;
    max-width: 1180px;
}

.background_hero{
    min-width:100vh;
    min-height:100vh;
    background-image: url(../assets/images/hero_block.png);
}